/* Reset CSS
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration:none;
    color:#009100;
}

a:hover,
a:focus {
    text-decoration:underline;
    opacity:0.8;
}

/* Globalne */

body {
    background:url("../img/bg.png");
    font: 14px Arial, Helvetica, sans-serif;
    line-height:1.5;
}

/* Nagłówki */

h1, h2, h3, h4, h5, h6 {
    font-weight:bold;
    margin-bottom:20px;
}

h1 {
    font-size:30px;
}

h2 {
    font-size:22px;
}

h3 {
    font-size:20px;
}

h4 {
    font-size:18px;
}

h5 {
    font-size:16px;
}

h6 {
    font-size:14px;
}

/* Typografia */

b, strong {
    font-weight:bold;
}

i, em {
    font-style:italic;
}

p, ul, ol, blockquote {
    margin:0 0 2em;
    text-align:justify;
}

big {
    font-size:125%;
}

small {
    font-size:50%;
    opacity:0.7;
}

acronym, abbr {
    cursor:help;
    border-bottom:1px dotted;
}

code {
    display:block;
    font-family:monospace;
    margin: 0 0 2em;
}

kbd {
    padding:2px 5px;
    background:#bbb;
}

p code,
li code,
blockquote code {
    display:inline;
}

blockquote {}

acronym, abbr {}

small {
    font-size:0.8em;
}

/* Szkielet motywu */

.wrapper {
    width:960px;
    margin: 30px auto;
    overflow:auto;
    background:#fff;
    -webkit-box-shadow: 0px 0px 15px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 15px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 15px rgba(50, 50, 50, 0.75);
}

.main_content {
    width:560px;
    padding:20px 30px;
    float:left;
}

.content ul {
    list-style:disc;
}

.content ul ul {
    list-style:circle;
}

.content ol {
    list-style:decimal;
}

.content blockquote {
    border-left:1px dotted #999;
    padding:20px 30px 20px;
    font-style:italic;
    color:#666;
}

.content blockquote cite {
    font-weight:bold;
}

.content li {
    margin-left:30px;
    margin-top:10px;
    margin-bottom:10px;
}

.sidebar {
    width:300px;
    padding:30px 30px 20px 0;
    float:right;
}

.footer {
    clear:both;
    margin:0;
    padding:15px 20px;
    font-size:13px;
    border-top:1px solid #999;
    background: rgb(200, 200, 200);
    background: -moz-linear-gradient(270deg, rgb(200, 200, 200) 0%, rgb(255, 255, 255) 100%);
    background: -webkit-linear-gradient(270deg, rgb(200, 200, 200) 0%, rgb(255, 255, 255) 100%);
    background: -o-linear-gradient(270deg, rgb(200, 200, 200) 0%, rgb(255, 255, 255) 100%);
    background: -ms-linear-gradient(270deg, rgb(200, 200, 200) 0%, rgb(255, 255, 255) 100%);
    background: linear-gradient(270deg, rgb(200, 200, 200) 0%, rgb(255, 255, 255) 100%);
    text-align:center;
}

/* Top strony */

.top .header {
    padding:20px;
    float:left;
}

.top .header .site_logo {
    font-size:36px;
    font-weight:bold;
}


/* Wyszukiwarka */

.top .search_form {
    margin-top:30px;
    margin-right:30px;
    float:right;
}

.top .search_form input[type="text"] {
    border: 1px solid #999;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    outline: none;
    padding: 5px 6px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.1s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.1s;
    -o-transition: border linear 0.2s, box-shadow linear 0.1s;
    transition: border linear 0.2s, box-shadow linear 0.1s;
}

.top .search_form input[type="text"]:focus {
    border-color: rgba(0, 145, 0, 1);
    outline: 0;
    outline: thin dotted \9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 145, 0, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 145, 0, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 145, 0, 0.6);
}

.top .search_form input[type="submit"] {
    background:#009100;
    border:0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    color:#fff;
    font-size:13px;
    padding:6px 16px;
    cursor:pointer;
}

.top .search_form input[type="submit"]:hover,
.top .search_form input[type="submit"]:focus {
    opacity:0.9;
}


/* Rozwijane menu - autor: Valeriu Timbuc
via: http://designmodo.com/css3-dropdown-menu/ */

.top .menu {
    position:relative;
    z-index:10;
    clear:both;
    height: 40px;
    margin:0;
    background: #4c4e5a;
    background: -webkit-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: -moz-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: -o-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: -ms-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
}

.top .menu li {
    position: relative;
    list-style: none;
    float: left;
    display: block;
    height: 40px;
}

.top .menu li a {
    display: block;
    padding: 0 14px;
    margin: 6px 0;
    line-height: 28px;
    text-decoration: none;
    border-left: 1px solid #393942;
    border-right: 1px solid #4f5058;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: #f3f3f3;
    text-shadow: 1px 1px 1px rgba(0,0,0,.6);
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}

.top .menu li:first-child a {
    border-left: none;
}

.top .menu li:last-child a {
    border-right: none;
}

.top .menu li:hover > a {
    color: #bbb;
}

.top .menu ul {
    position: absolute;
    top: 40px;
    left: 0;
    opacity: 0;
    background: #1f2024;
    -webkit-transition: opacity .25s ease .1s;
    -moz-transition: opacity .25s ease .1s;
    -o-transition: opacity .25s ease .1s;
    -ms-transition: opacity .25s ease .1s;
    transition: opacity .25s ease .1s;
}

.top .menu li:hover > ul {
    opacity: 1;
}

.top .menu ul li {
    height: 0;
    overflow: hidden;
    padding: 0;
    -webkit-transition: height .25s ease .1s;
    -moz-transition: height .25s ease .1s;
    -o-transition: height .25s ease .1s;
    -ms-transition: height .25s ease .1s;
    transition: height .25s ease .1s;
}

.top .menu li:hover > ul li {
    height: 36px;
    overflow: visible;
    padding: 0;
}

.top .menu ul li a {
    width: 200px;
    padding: 4px 0 4px 10px;
    margin: 0;
    border: none;
    border-bottom: 1px solid #353539;
}

.top .menu ul li:last-child a {
    border: none;
}

.top .menu ul ul {
    position:absolute;
    left:210px;
    top:0;
    border-left:1px solid #353539;
}

/* Nagłówek z obrazkiem */

.header_img {
    position:relative;
    height:250px;
}

/* Artykuł */

.post {
    border-bottom:1px solid #ededed;
    padding-bottom:10px;
    margin-bottom:30px;
}

.post .title {
    margin-bottom:10px;
}

.post .metadata {
    display:block;
    padding-bottom:15px;
}

/* Nawigacja */

.navigation {
    overflow:auto;
}

.navigation .left {
    float:left;
}

.navigation .right {
    float:right;
}

/* Widżety paska bocznego */

.widget {
    background:#ededed;
    padding:20px;
    margin-bottom:30px;
}

.widget ul {
    margin:0;
    padding:0;
}

.widget .name {
    margin-bottom:20px;
}

/* Widżety paska dolnego */

.bottom_bar {
    clear:both;
    background:#ededed;
    overflow:auto;
}

.bottom_bar .widget {
    width:240px;
    float:left;
    margin-left:30px;
}

/* Kalendarz */

#wp-calendar {
    width:100%;
    text-align:right;
}

#wp-calendar caption {
    font-weight:bold;
    margin-bottom:10px;
}

#wp-calendar th,
#wp-calendar td {
    padding:4px 0;
}

#wp-calendar thead tr {
    border-bottom:2px solid #000;
    font-weight:bold;
}

#wp-calendar tbody tr {
    border-bottom:1px solid #999;
}

#wp-calendar #prev {
    text-align:left;
}